@charset "utf-8";
/* CSS Document */
.a_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a_background_top{
    width: 100%;
    height: 71.6%;
    background-image:url(http://i1.piimg.com/567571/b0044788bfd50a6e.png);
    background-size: 100% 100%;
}


.a_background_middle{
    width: 100%;
    height: 13.1%;
    background-image:url(http://i1.piimg.com/567571/9a602c4118896293.png);
    background-size: 100% 100%;
}

.a_background_botton{
    width: 100%;
    height: 15.3%;
    background-image:url(http://i1.piimg.com/567571/663715e61ab9a91d.png);
    background-size: 100% 100%;
}

