@charset "utf-8";
/* CSS Document */
    * {
        padding: 0;
        margin: 0;
    }

    ul,
    li {
        list-style-type: none;
    }
	body{height:100%; overflow:hidden; margin:0px; padding:0px;}
#content{
	position:absolute;
	border:1px solid #ccc;
	overflow:hidden;
	width:100%;
	height:100%;
	/*top:20%;
	left:20%; */
}
.content-wrap{
	position:relative;}
.content-wrap > li{
        width: 100%;
        height: 100%;
        background: #CAE1FF;
        color: red;
        float: left;
        overflow: hidden;
        position: relative;
}
.content-wrap > li:nth-child(2){
	background-color:#9BCD9B;
}
.content-wrap > li:nth-child(3){
	background-color:yellow;
}
.charector{
	width:151px;
	height:291px;
	background:url(http://oi2eedr7y.bkt.clouddn.com/16-12-12/65795311-file_1481534660115_149dd.png) -0px -291px no-repeat;
	position:absolute;
	left:6%;
	top:55%;
}
.slowWalk{
	-webkit-animation-name:person-slow; /*规定 @keyframes 动画的名称。*/
	-webkit-animation-duration:950ms;/*规定动画完成一个周期所花费的秒或毫秒。默认是 0*/
	-webkit-animation-iteration-count:infinite;
	/*规定动画被播放的次数。默认是 1。 infinite(循环播放)*/
	-webkit-animation-timing-function:steps(1, start);/*动画切换的方式是一帧一帧的改变*/
	-moz-animation-name: person-slow;
	-moz-animation-duration: 950ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: steps(1, start);
	}
.pauseWalk{
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
}
@-webkit-keyframes person-slow {
	0%{background-position: -0px -291px;
	}
	25%{background-position: -602px -0px;
	}
	50%{background-position: -302px -291px;
	}
	75%{background-position: -151px -291px;
	}
	100%{background-position: -0px -291px;
	}
}
@-moz-keyframes person-slow{
	0%{background-position: -0px -291px;
	}
	25%{background-position: -602px -0px;
	}
	50%{background-position: -302px -291px;
	}
	75%{background-position: -151px -291px;
	}
	100%{background-position: -0px -291px;
	}
}
/*原始状态*/
.boyOriginal {
   background-position: -150px -0px;
}
/* 太阳的式样 */
#sun{
	background:url(http://oi2eedr7y.bkt.clouddn.com/16-12-12/76093290-file_1481534071057_d9b2.png) no-repeat;
	position:absolute;
	z-index:1;
	top:-30px;
	height:201px;
	width:201px;
	right:40%;
}
.rotation{
	-webkit-animation-name:rotation;
	-webkit-animation-duration:30s;
	-moz-animation-name:rotation;
	-moz-animation-duration:30s;
}
@-webkit-keyframes rotation
{
	0%{
		transform:translateX(0) translateY(0);
	}
	100%{
		transform:translateX(-2000px) translateY(400px);}
}
@-moz-keyframes rotation
{
	0%{
		transform:translateX(0) translateY(0);
	}
	100%{
		transform:translateX(-2000px) translateY(400px);}
}

/*云彩操作*/
.cloud{
	z-index:2;
	position:absolute;
}
.cloud1{
	width:181px;
	height:101px;
	left:-5%;
	top:15%;
	background:url(http://oi2eedr7y.bkt.clouddn.com/16-12-12/15408305-file_1481534091756_13cf5.png);}
.cloud2{
	width:301px;
	height:140px;
	right:-5%;
	background:url(http://oi2eedr7y.bkt.clouddn.com/16-12-12/24266335-file_1481534109852_a91f.png);
}
.cloud1Anim{
	-webkit-animation-name:smallCloud;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration:infinite;
	-moz-animation-name:smallCloud;
	-moz-animation-duration: 30s;
	-moz-animation-iteration:infinite;
}
.cloud2Anim{
	-webkit-animation-name:largeCloud;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration:infinite;
	-moz-animation-name:largeCloud;
	-moz-animation-duration: 30s;
	-moz-animation-iteration:infinite;
}
@-webkit-keyframes smallCloud{
	0%{
		left:-5%;}
	100%{
		left:100%;}	
}
@-moz-keyframes smallCloud{
	0%{
		left:-5%;}
	100%{
		left:100%;}	
}
@-webkit-keyframes largeCloud{
	0%{
		right:-5%;}
	100%{
		right:100%;}	
}
@-moz-keyframes largeCloud{
	0%{
		right:-5%;}
	100%{
		right:100%;}	
}


/*拿出花的动作*/
.slowFlolerWalk{
	-webkit-animation-name:person-floler-slow; /*规定 @keyframes 动画的名称。*/
	-webkit-animation-duration:950ms;/*规定动画完成一个周期所花费的秒或毫秒。默认是 0*/
	-webkit-animation-iteration-count:infinite;
	/*规定动画被播放的次数。默认是 1。 infinite(循环播放)*/
	-webkit-animation-timing-function:steps(1, start);/*动画切换的方式是一帧一帧的改变*/
	-moz-animation-name: person-floler-sloww;
	-moz-animation-duration: 950ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: steps(1, start);
	}

@-webkit-keyframes person-floler-slow{
       0% {
           background-position: -453px -0px;
       }
       25% {
           background-position: -904px -0px;
       }
       50% {
           background-position: -451px -0px;
       }
       75% {
           background-position: -753px -0px;
       }
       100% {
           background-position: -300px -0px;
       }
}
@-moz-keyframes person-floler-slow{
       0% {
           background-position: -453px -0px;
       }
       25% {
           background-position: -904px -0px;
       }
       50% {
           background-position: -451px -0px;
       }
       75% {
           background-position: -753px -0px;
       }
       100% {
           background-position: -300px -0px;
       }
}

/*男孩转身*/
.boy-rotate{
	-webkit-animation-name:boy-rotate;
	-webkit-animation-duration:850ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:step-start;
	-webkit-animation-fill-mode:forwards;
    -moz-animation-name: boy-rotate;
    -moz-animation-duration: 850ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: step-start;
    -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes boy-rotate{
       0% {
           background-position: -603px -291px;
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
}
@-moz-keyframes boy-rotate {
       0% {
           /*background-position: -603px -291px;*/
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
   }

	